html,
body {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-input {
  margin: 0 auto;
  /* width: 49vw; */
}

.main, .error, .items-tabs {
    display: flex;
    justify-content: center;
}

.offline-error {
  width: 236px;
  height: auto;
  transform: translateY(150px);
  margin: 0 auto;
}