html,
body {
	margin: 0;
	padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.offline--error {
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}